Source: dtkio
Section: libdevel
Priority: optional
Maintainer: Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (= 12),
 cmake,
 doxygen,
 qhelpgenerator-qt5 | qttools5-dev-tools,
 librsvg2-dev,
 qtbase5-dev,
 libsecret-1-dev,
 libglib2.0-dev,
 libdtkcore-dev
Standards-Version: 4.5.0

Package: libdtkmount
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin Tool Kit template library
 libdtkmount is base library of Deepin Qt/C++ applications.
 .
 This package contains the shared libraries.

Package: libdtkmount-dev
Architecture: any
Depends:${misc:Depends}, libdtkmount( =${binary:Version})
Description: Deepin Tool Kit template devel library
 libdtkmount-dev is base devel library of Deepin Qt/C++ applications.
 .
 This package contains the header files and static libraries.

Package: libdtkcompressor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development Tool Kit template library
 libdtkcompressor is base library of Deepin Qt/C++ applications.
 .
 This package contains the shared libraries.

Package: libdtkcompressor-dev
Architecture: any
Depends:${misc:Depends}, libdtkcompressor( =${binary:Version})
Description: Development Tool Kit template devel library
 libdtkcompressor-dev is base devel library of Deepin Qt/C++ applications.
 .
 This package contains the header files and static libraries.

